body{
    background-color: rgb(220, 255, 138);
}

hr{
    margin-top: 50px;
    margin-bottom: 50px ;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color:red ;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

ol,ul,img,p{
    text-align: justify;
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 0, 0);
    position: sticky;
    top:0px;
}

#navbar li{
    float: left;
}

#navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar ul:last-child{
    float: right;
}

#navbar li:hover{
    background-color: black;
}

*{
    margin: auto;
    padding: auto;
}

table tr td{
    border: 1px solid black;
}

th{
    max-width: 500px;
    margin: 0 auto; 
    border-collapse: collapse;
    background-color: #333; 
    color: white;
}

th td{
    padding: 15px;
    text-align: left;
}

tr:hover{
    background-color: rgb(199, 199, 199);
}

.footer{
    background-color: #333; 
    padding: 10px; 
    text-align: center;
    color: white; 
    margin-top: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: auto;
}

.form-register{
    position: static;
    margin-bottom: 100px;
}

.form-register h1{
    margin-bottom: 40px;
}

.content-form{
    max-width: 70%;
    margin: auto;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 100px;
}